<mat-toolbar color="primary" class="mat-elevation-z4 flex justify-between">
  <span>Allane Mobility Group</span>
  <div>
    <a
      mat-button
      routerLink="/contracts"
      class="mat-nav-link"
      routerLinkActive="active-link"
      >Contracts</a
    >
    <a
      mat-button
      routerLink="/customers"
      class="mat-nav-link"
      routerLinkActive="active-link"
      >Customers</a
    >
    <a
      mat-button
      routerLink="/vehicles"
      class="mat-nav-link"
      routerLinkActive="active-link"
      >Vehicles</a
    >
  </div>
</mat-toolbar>
