<div class="contract-container">
  <ng-container *ngIf="contract$ | async as contract">
    <mat-card [formGroup]="contractFormGroup">
      <mat-card-header title="" class="header">
        <mat-card-title>Contract Details:</mat-card-title>
        <div class="control-btns" *ngIf="!editMode">
          <button
            mat-raised-button
            color="primary"
            (click)="editContract(contract)">
            Edit
          </button>
          <button
            mat-raised-button
            color="warn"
            (click)="deleteContract(contract)">
            Delete
          </button>
        </div>

        <div class="control-btns" *ngIf="editMode">
          <button
            [disabled]="!contractFormGroup.valid"
            mat-raised-button
            color="primary"
            (click)="saveContract()">
            Save
          </button>
          <button mat-raised-button color="warn" (click)="cancelContractEdit()">
            Cancel
          </button>
        </div>
      </mat-card-header>
      <mat-card-content>
        <!-- Common Details -->
        <mat-card class="card-item">
          <mat-card-header>Common Details</mat-card-header>
          <mat-card-content>
            <mat-grid-list
              *ngIf="!editMode; else editCommon"
              cols="2"
              rowHeight="50px">
              <mat-grid-tile><strong>Monthly rate:</strong></mat-grid-tile>
              <mat-grid-tile>{{
                contract?.monthlyRate | capEmptyData
              }}</mat-grid-tile>
            </mat-grid-list>

            <ng-template #editCommon>
              <mat-grid-list cols="2" rowHeight="50px">
                <mat-grid-tile><strong>Monthly rate:</strong></mat-grid-tile>
                <mat-grid-tile>
                  <mat-form-field appearance="fill">
                    <input
                      #model="matInput"
                      type="number"
                      formControlName="monthlyRate"
                      matInput />
                    <mat-error *ngIf="model.errorState">{{
                      requiredErrorMessage
                    }}</mat-error>
                  </mat-form-field>
                </mat-grid-tile>
              </mat-grid-list>
            </ng-template>
          </mat-card-content>
        </mat-card>

        <mat-divider></mat-divider>
        <!-- Vehicle Details -->
        <mat-card class="card-item" formGroupName="vehicle">
          <mat-card-header>Vehicle Details</mat-card-header>
          <mat-card-content>
            <mat-grid-list
              *ngIf="!editMode; else editVehicle"
              cols="2"
              rowHeight="50px">
              <mat-grid-tile><strong>Brand:</strong> </mat-grid-tile>
              <mat-grid-tile>{{
                contract.vehicle.brand | capEmptyData
              }}</mat-grid-tile>
              <mat-grid-tile><strong>Model:</strong></mat-grid-tile>
              <mat-grid-tile>
                {{ contract.vehicle.model | capEmptyData }}
              </mat-grid-tile>
              <mat-grid-tile><strong>Year:</strong></mat-grid-tile>
              <mat-grid-tile>{{
                contract.vehicle.modelYear | capEmptyData
              }}</mat-grid-tile>
              <mat-grid-tile><strong>VIN:</strong></mat-grid-tile>
              <mat-grid-tile>{{
                contract.vehicle.vin | capEmptyData
              }}</mat-grid-tile>
              <mat-grid-tile><strong>Price:</strong></mat-grid-tile>
              <mat-grid-tile>{{
                contract.vehicle.price | capEmptyData
              }}</mat-grid-tile>
            </mat-grid-list>

            <ng-template #editVehicle>
              <mat-grid-list cols="2" rowHeight="50px">
                <mat-grid-tile><strong>Brand:</strong> </mat-grid-tile>
                <mat-grid-tile>
                  <mat-form-field>
                    <mat-select
                      #brandMat="matSelect"
                      formControlName="brand"
                      class="select-container">
                      <mat-option
                        *ngFor="let brand of brands$ | async"
                        [value]="brand.name">
                        {{ brand.name }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="brandMat.errorState">{{
                      requiredErrorMessage
                    }}</mat-error>
                  </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile><strong>Model:</strong></mat-grid-tile>
                <mat-grid-tile>
                  <mat-form-field>
                    <mat-select
                      formControlName="model"
                      class="select-container"
                      #modelMat="matSelect">
                      <mat-option
                        *ngFor="let model of vehicleModels$ | async"
                        [value]="model.name">
                        {{ model.name }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="modelMat.errorState">{{
                      requiredErrorMessage
                    }}</mat-error>
                  </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile><strong>Year:</strong></mat-grid-tile>
                <mat-grid-tile>
                  <mat-form-field appearance="fill">
                    <input
                      #yearMat="matInput"
                      type="number"
                      step="1"
                      formControlName="modelYear"
                      matInput />
                    <mat-error *ngIf="yearMat.errorState">{{
                      requiredErrorMessage
                    }}</mat-error>
                  </mat-form-field></mat-grid-tile
                >
                <mat-grid-tile><strong>VIN:</strong></mat-grid-tile>
                <mat-grid-tile>
                  <mat-form-field appearance="fill">
                    <input #vinMat="matInput" formControlName="vin" matInput />
                    <mat-error *ngIf="vinMat.errorState">{{
                      requiredErrorMessage
                    }}</mat-error></mat-form-field
                  ></mat-grid-tile
                >
                <mat-grid-tile><strong>Price:</strong></mat-grid-tile>
                <mat-grid-tile>
                  <mat-form-field appearance="fill">
                    <input
                      #priceMat="matInput"
                      type="number"
                      formControlName="price"
                      matInput />
                    <mat-error *ngIf="priceMat.errorState">{{
                      requiredErrorMessage
                    }}</mat-error>
                  </mat-form-field></mat-grid-tile
                >
              </mat-grid-list>
            </ng-template>
          </mat-card-content>
        </mat-card>

        <mat-divider></mat-divider>
        <!-- Customer Details -->
        <mat-card class="card-item" formGroupName="customer">
          <mat-card-header>Customer Details</mat-card-header>
          <mat-card-content>
            <mat-grid-list
              *ngIf="!editMode; else editCustomer"
              cols="2"
              rowHeight="50px">
              <mat-grid-tile><strong>First Name:</strong></mat-grid-tile>
              <mat-grid-tile>{{
                contract.customer.firstName | capEmptyData
              }}</mat-grid-tile>
              <mat-grid-tile><strong>Last Name:</strong></mat-grid-tile>
              <mat-grid-tile>{{
                contract.customer.lastName | capEmptyData
              }}</mat-grid-tile>
              <mat-grid-tile><strong>Birth Date:</strong></mat-grid-tile>
              <mat-grid-tile>{{
                contract.customer.birthDate | date | capEmptyData
              }}</mat-grid-tile>
            </mat-grid-list>
            <ng-template #editCustomer>
              <mat-grid-list cols="2" rowHeight="50px">
                <mat-grid-tile><strong>First Name:</strong></mat-grid-tile>

                <mat-grid-tile>
                  <mat-form-field appearance="fill">
                    <input
                      #firstNameMat="matInput"
                      formControlName="firstName"
                      matInput />
                    <mat-error *ngIf="firstNameMat.errorState">{{
                      requiredErrorMessage
                    }}</mat-error>
                  </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile><strong>Last Name:</strong></mat-grid-tile>
                <mat-grid-tile>
                  <mat-form-field appearance="fill">
                    <input
                      #lastNameMat="matInput"
                      formControlName="lastName"
                      matInput />
                    <mat-error *ngIf="lastNameMat.errorState">{{
                      requiredErrorMessage
                    }}</mat-error>
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile><strong>Birth Date:</strong></mat-grid-tile>
                <mat-grid-tile>
                  <mat-form-field class="select-container" appearance="fill">
                    <input
                      #birthDateMat="matInput"
                      matInput
                      [matDatepicker]="picker"
                      formControlName="birthDate" />
                    <mat-error *ngIf="birthDateMat.errorState">{{
                      requiredErrorMessage
                    }}</mat-error>
                    <mat-datepicker-toggle
                      matIconSuffix
                      [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </mat-grid-tile>
              </mat-grid-list>
            </ng-template>
          </mat-card-content>
        </mat-card>
      </mat-card-content>
    </mat-card>
  </ng-container>

  <div class="loading-cloak" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>
</div>
