<div class="relative">
  <mat-card [formGroup]="contractFormGroup">
    <mat-card-header class="flex justify-between">
      <mat-card-title>Contract Details:</mat-card-title>

      <button
        [disabled]="!contractFormGroup.valid"
        mat-raised-button
        color="primary"
        (click)="createContract()">
        Create contact
      </button>
    </mat-card-header>
    <mat-card-content class="mt-5">
      <!-- Common Details -->
      <mat-card class="relative">
        <mat-card-header>Common Details</mat-card-header>
        <mat-card-content class="contract-details-container">
          <mat-list>
            <mat-list-item>
              <div class="list-item-content">
                <div><strong>Monthly rate:</strong></div>
                <mat-form-field class="form-container" appearance="fill">
                  <input
                    type="number"
                    #monthlyRateMat="matInput"
                    formControlName="monthlyRate"
                    matInput />
                  <mat-error *ngIf="monthlyRateMat.errorState">{{
                    requiredErrorMessage
                  }}</mat-error>
                </mat-form-field>
              </div>
            </mat-list-item>
          </mat-list>
        </mat-card-content>

        <div class="loading-cloak" *ngIf="isLoading">
          <mat-spinner></mat-spinner>
        </div>
      </mat-card>

      <div class="mt-5"></div>

      <!-- Vehicle Details -->
      <app-create-vehicle-details
        [isStandalone]="false"></app-create-vehicle-details>

      <div class="mt-5"></div>

      <!-- Customer Details -->
      <app-create-customer-details
        [isStandalone]="false"></app-create-customer-details>
    </mat-card-content>
  </mat-card>

  <div class="loading-cloak" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>
</div>
